.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    text-align: center;
    margin: 20px;
    flex-basis: 45%;
    max-width: 300px;
    min-width: 200px;
  }

  .dark{
    background-color: #444;
    border:solid 1px #9b9b9b;
  }

  .dark h3{
    color: #fc00e3;
  }
  
  .icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .description {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .card {
      flex-basis: 100%;
      max-width: 100%;
      margin: 10px;
    }
  }
  