/* src/components/Contact.module.css */


.dark h2{
  color: white;
}

.dark label{
  color: white;
}

.contactContainer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.dark {
  background-color: #333;
}

h2 {
  text-align: initial;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

input,
textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .projectsSection {
    margin-top: 30px !important;
  }
}

