/* src/components/CustomHeader.module.css */
  .customHeader {
    padding: 0.5rem 0.5rem 1.2rem 0.5rem;
  }
  
  .title {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #777;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    .subtitle {
      font-size: 1.1rem;
    }
    .title {
      font-size: 1.9rem;
    }
  }